.vs/

LibSeedy/bin/

SeedlyServer/bin/Debug/net6.0/cache/

SeedlyServer/bin/Debug/net6.0/

SeedlyServer/obj/Debug/net6.0/

SeedlyServer/obj/

SeedlyServerApp/obj/Debug/net7.0/

SeedlyServerApp/bin/Debug/net7.0/

SeedlyServerApp/obj/

LibSeedy/obj/

SeedlyServer/.torrent.bolt.db

SeedlyServerApp/bin/Release/net7.0/win-x86/

SeedlyServerApp/bin/Release/net7.0/

*.exe

*.pdf
